---
import type { MarkdownHeading } from 'astro';
import { Navbar } from '@/components/navbar';
import { DocsNavigation } from '@/components/docs-navigation';
import { DocsTableOfContents } from '@/components/docs-table-of-contents';
import BaseLayout from '@/layouts/base.astro';
import Prose from '@/components/prose.astro';
import { getCollection } from 'astro:content';

const sections = await getCollection('docSections');
const sectionsWithPages = await Promise.all(
  sections.map(async (section) => {
    const pages = (await getCollection('docPages', ({ data }) => data.section.id === section.id)).sort((a, b) =>
      a.id.localeCompare(b.id),
    );
    return {
      ...section,
      pages,
    };
  }),
);

interface Props {
  title: string;
  activeSlug: string;
  headings: MarkdownHeading[];
}

const { title, activeSlug, headings } = Astro.props;
---

<BaseLayout title={`${title} - Haloy Documentation`}>
  <Navbar client:load />
  <div class="lg:flex">
    <DocsNavigation activeSlug={activeSlug} sectionsWithPages={sectionsWithPages} client:load />
    <main class="flex-1 lg:flex">
      <div class="flex-1 px-6 pb-20 lg:flex lg:justify-center">
        <Prose>
          <h1>{title}</h1>
          <slot />
        </Prose>
      </div>
      <div class="hidden w-72 lg:block">
        <DocsTableOfContents client:load headings={headings} />
      </div>
    </main>
  </div>
</BaseLayout>
